header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  .brand {
    display: flex;
    text-decoration: none;
    h1 {
      margin-left: 10px;
      font-size: 5rem;
      vertical-align: bottom;
      font-family: "Sacramento", cursive;
      font-weight: 100;
      color: black;
    }
  }
  nav {
    display: flex;
    justify-items: center;
    ul {
      margin: auto 0;
      display: flex;
      list-style-type: none;
      li {
        margin: 0 20px;
        a {
          font-size: 2rem;
          text-decoration: none;
          @include link(black, $blue);
        }
      }
    }
  }
}
