.recipes {
  display: flex;
  flex-wrap: wrap;
}

$recipe-miniature-width: 250px;
$recipe-miniature-height: 200px;

.recipe-miniature {
  display: flex;
  justify-content: center;
  height: $recipe-miniature-height;
  width: $recipe-miniature-width;
  overflow: hidden;
  position: relative;
  color: white;
  border-radius: 10px;
  margin: 10px;
  &:hover .shadow {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 1) 0px 60px 40px -40px inset;
    z-index: 2;
    transition: 0.5s ease;
  }
  h2 {
    font-size: 2rem;
    font-weight: lighter;
    position: absolute;
    z-index: 3;
    left: 5px;
  }
  img {
    object-fit: cover;
    position: relative;
    top: 0;
    height: 100%;
    z-index: 2;
  }
  p {
    position: absolute;
    z-index: 3;
    left: 5px;
    top: 30px;
    font-size: 1.5rem;
    height: 55%;
    overflow: hidden;
  }
  .detail {
    width: auto;
    z-index: 3;
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 3px 8px;
    border-radius: 10px;
    background-color: white;
    color: black;
    &:hover {
      background-color: $blue;
    }
  }
}

.recipe-detail {
  h2 {
    font-size: 2.3rem;
    border-bottom: 1px solid $blue;
    text-align: center;
  }
  h3 {
    font-size: 2.1rem;
  }
  p {
    font-size: 2rem;
  }
  ol {
    li {
      font-size: 2rem;
      margin-left: 15px;
    }
  }
  .slider {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 100%;
      height: 600px;
      border-radius: 10px;
    }
    .arrow {
      z-index: 10;
      width: 30px;
      cursor: pointer;
    }
    .left-arrow {
      position: absolute;
      top: 50%;
      left: 32px;
      transform: scaleX(-1);
    }
    .right-arrow {
      position: absolute;
      top: 50%;
      right: 32px;
    }
    .slide {
      opacity: 0;
      transition: 1s ease;
    }
    .slide.active {
      width: 70%;
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

$animationSpeed: 40s;
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-#{$recipe-miniature-width} * 8));
  }
}
.r-slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: $recipe-miniature-height;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(#{$recipe-miniature-width} * 16);
  }
  .slide {
    height: 100px;
    width: $recipe-miniature-width;
  }
}

.profile-recipes {
  display: flex;
  li {
    margin: 30px;
  }
}

.recipes-all {
  display: flex;
  flex-direction: row;
  width: 90% !important;
  .recipe-filters {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    option {
      font-size: 1.6rem;
    }
  }
}
